.sidebar {
    position: fixed;
    right:0; 
    top:0;
    height:100%; 
    display:block;
    
    padding: 15px;
    z-index: 2147483647;
    overflow-y: scroll;

    background-color: #2b2d42;
    color: #edf2f4;
}